{% import _self as carouselTools %}
{% macro truncateChars(text, maxLength) %}
    {{ text|length > maxLength ? text|slice(0, maxLength) ~ '…' : text }}
{% endmacro %}

		<div class="carousel-header_{{ fields.block_style }} block-wide">
			<div id="carousel-wrapper-header" data-block-style="{{ fields.block_style }}">
				{% if fields.total_images > 1 %}
          <ol class="carousel-indicators"></ol>
				{% endif %}
				<div class="carousel-inner" role="listbox">

					{% for i in 1..4 %}

						{% if ( attribute( fields, 'header_' ~ i ) and attribute( fields, 'image_' ~ i ) ) %}
							{% if ( loop.first ) %}
								{% set css_class = 'carousel-item active initial' %}
							{% else %}
								{% set css_class = 'carousel-item' %}
							{% endif %}
							<div class="{{ css_class }}" data-slide="{{ i }}">
								<div class="carousel-item-mask">

									<div class="background-holder">
										{% if ( attribute( fields, 'image_' ~ i ) ) %}
											<img src="{{ fields['image_' ~ i] }}"
												data-background-position="{{ fields['focus_image_' ~ i] }}"
												srcset="{{ fields['image_' ~ i ~ '_srcset'] }}"
												sizes="{{ fields['image_' ~ i ~ '_sizes'] }}"
												alt="{{ attribute( fields, 'image_' ~ i ~ '_alt' ) }}">

											<div class="carousel-caption">
												<div class="caption-overlay"></div>
												<div class="container main-header">
													<div class="carousel-captions-wrapper">
														{% if ( attribute( fields, 'header_' ~ i ) ) %}
															<h1>{{ carouselTools.truncateChars( attribute( fields, 'header_' ~ i ), 30 ) }}</h1>
														{% endif %}
														{% if ( attribute( fields, 'description_' ~ i )  ) %}
														 	<p>{{ carouselTools.truncateChars( attribute( fields, 'description_' ~ i ), 200 ) }}</p>
														{% endif %}
													</div>

													{% if ( attribute( fields, 'link_text_' ~ i ) ) %}
														<div class="col-xs-12 col-sm-8 col-md-4 action-button">
															<a href="{{ attribute( fields, 'link_url_' ~ i) }}"
																class="btn btn-small btn-medium btn-primary btn-block">{{ attribute( fields, 'link_text_'~i ) }}</a>
														</div>
													{% endif %}
												</div>
											</div>
										{% endif %}
									</div>

								{#
									<div class="carousel-caption carousel-caption-mobile">
										<div class="container main-header">
											<div class="carousel-captions-wrapper">
												{% if ( attribute( fields, 'header_' ~ i ) ) %}
													<h1>{{ attribute( fields, 'header_' ~ i ) }}</h1>
												{% endif %}
												{% if ( attribute( fields, 'subheader_' ~ i ) and fields.block_style != 'full-width-classic' ) %}
													<h2>{{ attribute( fields, 'subheader_' ~ i ) }}</h2>
												{% endif %}
												{% if ( attribute( fields, 'description_' ~ i )  ) %}
													<p>{{ attribute( fields, 'description_' ~ i ) }}</p>
												{% endif %}
											</div>

											{% if ( attribute( fields, 'link_text_' ~ i ) ) %}
												<div class="col-xs-12 col-sm-8 col-md-4 action-button">
													<a href="{{ attribute( fields, 'link_url_' ~ i) }}"
														class="btn btn-small btn-medium btn-primary btn-block">{{ attribute( fields, 'link_text_'~i ) }}</a>
												</div>
											{% endif %}
										</div>

										{% if fields.total_images > 1 %}
											<ol class="carousel-indicators carousel-indicators-mobile"></ol>
										{% endif %}
									</div>
#}
								</div>
							</div>
						{% endif %}
					{% endfor %}

				</div>
				{% if fields.total_images > 1 %}
					<a class="carousel-control-prev" href="#carousel-wrapper-header" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"><i></i></span>
						<span class="sr-only">Prev</span>
					</a>
					<a class="carousel-control-next" href="#carousel-wrapper-header" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"><i></i></span>
						<span class="sr-only">Next</span>
					</a>
				{% endif %}
			</div>
		</div>