{% block counter %}
    {% if ( fields ) %}
        <div class="container counter-block">
            <div class="content-counter">
                {% if fields.style == 'bar' %}
                    <div class="progress-container">
                        <div class="progress-bar" style="width: {{ fields.percent }}%"></div>
                    </div>
                {% elseif fields.style == 'arc' %}
                    <svg class="progress-arc" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 14">
                        {% set arcLength = 31.5 %}
                        <path class="background" d="M 2 12 A 1 1 0 1 1 22 12"/>
                        <path class="foreground" d="M 2 12 A 1 1 0 1 1 22 12"
                              stroke-dasharray="{{ arcLength }}"
                              stroke-dashoffset="{{ (1 - fields.percent / 100 ) * arcLength }}"/>
                    </svg>
                {% endif %}

                <p class="counter-text">
                    <span class="counter-target">{{ fields.completed }}</span>
                    {{ fields.text }}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
