{% block happy_point %}
	{% if ( fields ) %}
		{% if ( fields.background or fields.opacity ) %}
			<style>

				{% set image = fields.background %}
				{% if ( image.src ) %}
					.happy-point-block-wrap {
						background: url('{{ image.src }}') center center no-repeat;
					}
				{% endif %}

				{% if ( image.sources and image.breakpoints ) %}
					{% for source in image.sources %}
						{% if (image.breakpoints[loop.index0]) %}
							@media only screen and (max-width: {{ image.breakpoints[loop.index0] }}px) {
								.happy-point-block-wrap {
									background: url('{{ source }}') center center no-repeat;
								}
							}
						{% endif %}
					{% endfor %}
				{% endif %}

				{% if ( fields.opacity ) %}
					.happy-point-block-wrap:before {
						opacity: {{ fields.opacity }};
					}
				{% endif %}
			</style>
		{% endif %}
			<div class="happy-point-block-wrap">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-md-10 pt-20">
							{% if ( fields.mailing_list_iframe == 'true' ) %}
								<iframe src="{{ fields.engaging_network_id }}" allowtransparency="true" frameborder="0" scrolling="no" width="100%" height="295"></iframe>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
	{% endif %}
{% endblock %}
