{% block media_video %}
	{% if ( fields ) %}
		<div class="media-block">
			{% if ( fields.video_title ) %}
				<h2 class="page-section-header">{{ fields.video_title }}</h2>
			{% endif %}
			{% if fields.type == 'youtube' %}
				<div class="video-embed">
					<iframe src="https://www.youtube.com/embed/{{ fields.media_id }}?autoplay=0&rel=0"
							type="text/html" width="100%" height="100%" frameborder="0" allowfullscreen>
					</iframe>
				</div>
			{% elseif fields.type == 'vimeo' %}
				<div class="video-embed">
					<iframe src="https://player.vimeo.com/video/{{ fields.media_id }}"
							width="100%" height="100%" frameborder="0" allowfullscreen>
						</iframe>
				</div>
			{% elseif fields.type == 'soundcloud' %}
				<div class="audio-embed">
					<iframe src="{{ fields.media_id }}"
							width="100%" height="100%" scrolling="no" frameborder="no" allow="autoplay">
					</iframe>
				</div>
			{% elseif fields.type == 'video' %}
				<div class="video-player">
					<video {% if ( fields.video_poster_img_src ) %}poster="{{ fields.video_poster_img_src.0 }}"{% endif %}
						   controls width="100%" height="100%">
						<source src="{{ fields.media_id }}" type="video/mp4"/>
						</video>
				</div>
			{% elseif fields.type == 'audio' %}
				<div class="audio-player">
					<audio src="{{ fields.media_id }}" controls></audio>
				</div>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
